.about-container {
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.93),
		rgba(0, 5, 0, 0.93),
		rgba(0, 80, 0, 0.24)
	);
}

.aboutme-bottom {
	color: #13cf5b;
	font-size: 2.5vh;
	font-family: "Noticia Text", serif;
	letter-spacing: 0.1vw;
	line-height: 1.3vw;
	margin-left: auto;
	margin-right: auto;
	padding: 5vw;
	padding-top: 0;
	width: 80%;
}

.aboutme-top {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 5vw;
	padding-bottom: 5vh;
	padding-top: 5vh;
	width: 80%;
}

.aboutpage-media {
	font-size: 1vw;
	padding-top: 6vh;
}

.my-pic {
	border-radius: 15px;
	max-height: 45vh;
}

.selfpic {
	width: 40%;
}

.topright-about {
	color: #13cf5b;
	font-size: 6vh;
	font-family: "Noticia Text", serif;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

@media only screen and (max-width: 480px) {
	.aboutme-bottom {
		font-size: 1em;
		letter-spacing: 0.1vw;
		line-height: 3.5vh;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.aboutme-top {
		margin-left: auto;
		margin-right: auto;
		padding: 5vw;
		padding-bottom: 5vh;
		padding-top: 5vh;
		width: 90%;
	}

	.aboutpage-media {
		font-size: 0.5em;
		padding-top: 5vh;
	}

	.my-pic {
		border-radius: 15px;
		height: 27vh;
	}

	.selfpic {
		width: 40%;
	}

	.topright-about {
		font-size: 1em;
		margin-left: 13vw;
		width: 50%;
	}
}
