embed {
	height: 80vh;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top: 3vh;
	width: 70vw;
}

.resume-container {
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.93),
		rgba(0, 5, 0, 0.93),
		rgba(0, 80, 0, 0.24)
	);
}
