.container {
	margin-right: 1%;
	margin-left: 10%;
	background-color: rgba(63, 63, 63, 0.226);
	border-radius: 10px;
	margin-top: 1%;
	width: 80%;
	height: 800px;
	padding-bottom: 5%;
}

.contact-info {
	margin-left: 10%;
	font-size: 1.5vw;
	padding: 2%;
	line-height: 1.5;
}

.submission {
	margin-left: 30%;
	font-size: 1.2vw;
	padding: 2%;
	line-height: 1.2;
}

input {
	background-color: rgba(63, 63, 63, 0.226);
}

#submit {
	color: white;
}
