@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	color: white;
	background-image: url(../../assets/bg1-2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

.container {
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 0, 0, 0.938);
	width: 80%;
	height: auto;
	padding-bottom: 5%;
}

.deployed-links {
	/*
	height: 6.3vh;
	width: 16vw;
	*/
}

.heading {
	display: flex;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.93),
		rgba(0, 5, 0, 0.93),
		rgba(0, 80, 0, 0.24)
	);
	min-height: 74vh;
	justify-content: center;
}

.heading-left {
	width: 55%;
}

.heading-name,
.heading-title {
	color: #13cf5b;
	font-size: 10vh;
	font-family: "Noticia Text", serif;
	text-align: center;
	letter-spacing: 0.3vw;
	line-height: 1.4;
	padding: 5vh;
	margin-top: 7vh;
}

.heading-right {
	width: 45%;
}

.heading-hello {
	color: #13cf5b;
	font-size: 5vh;
	font-family: "Noticia Text", serif;
}

.heading-title {
}

/*
.heading h3 {
	width: 40%;
	word-spacing: 3px;
}

.heading-text {
	margin-left: 25%;
	margin-top: 10%;
	font-size: 2vw;
}
*/

.homepage-links {
	display: flex;
	justify-content: space-around;
	width: 25%;
	padding-left: 0;
	font-size: 1.8vw;
	justify-content: space-around;
	list-style-type: none;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	width: 40%;
}

.homepage-links button {
	border: none;
	background: none;
	font-family: "Noticia Text", serif;
}

.homepage-links button a {
	color: rgb(81, 255, 0);
	text-decoration: none;
}

.img-fluid {
	width: 100%;
	z-index: -1;
	position: fixed;
}

.media-links {
	letter-spacing: 0.1vw;
	font-family: "Noticia Text", serif;
}

.media-links a,
.proj-list a {
	text-decoration: none;
	color: rgb(0, 255, 0);
}

.media-links,
.heading-hello {
	display: flex;
	transform: translate(-50%);
	margin-left: 50%;
	margin-top: 5vh;
	justify-content: space-evenly;
}

.media-links img {
	margin-left: 10%;
}

.media-links img:hover {
	transform: scale(1.2);
	transition: transform 0.4s ease-out;
}

.row {
	display: flex;
	margin-left: 15%;
}

.self-pic {
	width: 17vw;
	height: 17vw;
	border-radius: 50%;
	margin-left: 45%;
	margin-top: 25%;
}

.skills,
.projects {
}

.skills,
.project-list {
	height: auto;
	margin-top: 5%;
}

.skill-container {
	padding: 15px;
	width: 70%;
	flex-wrap: wrap;
	font-size: 1.3vw;
}

.skill-wording,
.proj-text {
	border-radius: 140px;
	border-top: 8px double #41dd7d85;
	color: #60db8f;
	font-size: 2.5vw;
	font-family: "Noticia Text", serif;
	padding: 0;
	padding-top: 1vh;
	padding-bottom: 4vh;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.skill-image {
	font-family: "Noticia Text", serif;
	margin-right: 10%;
	margin-left: auto;
}

.skill-image img {
	height: 15vh;
	padding: 1vh;
}

.skill-image img:hover,
.proj-list a img:hover {
	transform: scale(1.15);
	transition: transform 0.3s ease-out;
}

.proj-list a {
	margin-left: 1.2vw;
}

.proj-list {
	display: flex;
	justify-content: center;
}

.proj-row {
}

.projects img {
	width: 16vw;
	height: 30vh;
	padding: 1vh;
}

.projects a img {
	height: 5vh;
	width: auto;
}

.projects-card {
	display: flex;
	border: 10px double #41dd7d85;
	border-radius: 10px;
	font-family: "Noticia Text", serif;
	margin: 1vw;
	width: 35vw;
	background-color: #24854985;
}

@media only screen and (max-width: 1050px) {
	.skill-image img,
	.proj-list img {
		height: 80px;
	}

	.projects-card {
		display: grid;
		border: 10px double #41dd7d85;
		border-radius: 10px;
		height: 40vh;
		width: 16vw;
		margin: 1vw;
	}

	.projects img {
		height: 60vh;
		width: 15vw;
		padding: 0;
		width: 100%;
		height: 30vh;
	}

	.media-links img {
		height: 40px;
		width: 40px;
	}
}

@media only screen and (max-width: 900px) {
	.skill-image img,
	.proj-list img {
		height: 65px;
	}
	.media-links img {
		height: 30px;
		width: 30px;
	}

	.projects-card {
		display: grid;
		border: 10px double #41dd7d85;
		border-radius: 10px;
		height: 40vh;
		width: 16vw;
		margin: 1vw;
	}

	.projects img {
		height: 60vh;
		width: 15vw;
		padding: 0;
		width: 100%;
		height: 30vh;
	}
}

@media only screen and (max-width: 640px) {
	.skill-image img,
	.proj-list img {
		height: 40px;
	}
	.media-links img {
		height: 20px;
		width: 20px;
	}

	.projects-card {
		display: grid;
		border: 10px double #41dd7d85;
		border-radius: 10px;
		height: 40vh;
		width: 16vw;
		margin: 1vw;
	}

	.projects img {
		height: 60vh;
		width: 15vw;
		padding: 0;
		width: 100%;
		height: 30vh;
	}
}

@media only screen and (max-width: 570px) {
	.skill-image img,
	.proj-list img {
		height: 25px;
	}
	.container {
		padding-bottom: 10%;
	}

	.projects-card {
		display: grid;
		border: 10px double #41dd7d85;
		border-radius: 10px;
		height: 40vh;
		width: 16vw;
		margin: 1vw;
	}

	.projects img {
		height: 60vh;
		width: 15vw;
		padding: 0;
		width: 100%;
		height: 30vh;
	}
}
