nav {
	width: 100%;
	height: 70px;
	background-color: rgb(44, 44, 44);
	display: flex;
	margin-left: auto;
	color: rgb(219, 219, 219);
	position: sticky;
	overflow: auto;
}

.logo {
	display: flex;
	padding: 3px;
	margin: 15px;
	width: 50%;
	justify-content: space-around;
	font-size: 3vw;
}

.top-links {
	display: flex;
	padding: 10px;
	margin: 15px;
	margin-right: 100px;
	width: 40%;
	justify-content: space-around;
	margin-left: auto;
	text-decoration: none;
	font-size: 1.3vw;
}

.top-links li a {
	color: rgb(219, 219, 219);
	text-decoration: none;
}

.jumbo-container {
	position: relative;
}

@media only screen and (max-width: 810px) {
	nav {
		height: 60px;
	}
}

@media only screen and (max-width: 610px) {
	nav {
		height: 50px;
	}
}
