nav {
	background-image: linear-gradient(
		to top,
		rgba(0, 20, 0, 0.95),
		rgba(0, 32, 0, 0.836),
		rgba(0, 40, 0, 0.938)
	);
	color: rgb(118, 204, 118);
	display: flex;
	height: 9vh;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align: center;
	width: 83%;
}

.top-links {
	display: flex;
	font-size: 1.8vw;
	font-family: "Noticia Text", serif;
	justify-content: space-around;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 0.6vw;
	text-decoration: none;
	width: 90%;
}

.top-links li a {
	color: rgb(0, 255, 0);
	text-decoration: none;
}

.jumbo-container {
	position: relative;
}

/*Mobile Devices*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	nav {
		height: 9vh;
		padding-top: 3vh;
		padding-bottom: 0vh;
		width: 100%;
	}

	.top-links {
		font-size: 0.8em;
	}
}

/*Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
	nav {
		height: 9vh;
		padding-top: 3vh;
		padding-bottom: 0vh;
		width: 100%;
	}

	.top-links {
		font-size: 0.8em;
	}
}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
/*extra large screens, TV*/
@media only screen and (min-width: 1201px) {
}
