.footer-container {
	display: flex;
	background-color: rgba(0, 0, 0, 0.93);
	font-size: 1.7vh;
	font-family: "Noticia Text", serif;
	height: auto;
	width: 83%;
	min-height: 10vh;
	margin-left: 50%;
	padding-bottom: 1.5%;
	transform: translate(-50%);
}

.footer-title {
	font-weight: bold;
}

.bot-sect {
	width: 30%;
	height: auto;
	padding: 2%;
	line-height: 1.2;
	margin-left: 3%;
}
