.footer-container {
	background-color: rgba(0, 0, 0, 0.93);
	display: flex;
	font-size: 1.7vh;
	font-family: "Noticia Text", serif;
	height: auto;
	min-height: 10vh;
	margin-left: 50%;
	position: absolute;
	transform: translate(-50%);
	width: 83%;
}

.footer-title {
	font-weight: bold;
}

.bot-sect {
	height: auto;
	line-height: 1.2;
	margin-left: 3%;
	padding: 2%;
	width: 30%;
}

/*Mobile Devices*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.footer-container {
		font-size: 0.3em;
		width: 100%;
	}

	.footer-title {
		font-weight: bold;
	}
}

/*Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.footer-container {
		font-size: 0.5em;
		width: 100%;
	}

	.footer-title {
		font-weight: bold;
	}
}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.footer-container {
		font-size: 0.5em;
		width: 100%;
	}

	.footer-title {
		font-weight: bold;
	}
}
/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
/*extra large screens, TV*/
@media only screen and (min-width: 1201px) {
}
